*{
  margin: 0;
  padding: 0;
}

.page{
  min-width: 1080px;
}

.page-mainer{
  background: #f5f5f5;
  padding-bottom: 50px;
}

.mainer-contaner{
  width: 1080px;
  margin: 0 auto;
}

.crumbs-list{
  line-height: 70px;
}

.crumbs-list a{
  text-decoration: none;
  color: #466ED1;
}

.crumbs-item.black{
  padding: 0 10px;
  color: #707070;
}

.hot-section{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items:center;
  background: #FFFFFF;
}

.hot-section img{
  width: 400px;
  height: 240px;
}

.hot-content{
  width: 515px;
  padding-left: 20px;
}

.hot-title{
  font-size: 24px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 2px;
}

.hot-description{
  color: #666666;
  line-height: 25px;
  padding: 20px 0;
}

.hot-info{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 119px;
}


.hot-info-list p{
  color: #999999;
  font-size:14px;
  padding-top: 10px;
}

.hot-info-button{
  width: 180px;
  height: 50px;
  background: #466ED1;
  text-align: center;
  line-height:50px;
  font-size:18px;
  color: #FFFFFF;
  text-decoration: none;
}

.course-section{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.directory-contaner{
  width: 740px;
  background: #FFFFFF;
}

.course-list{
  line-height: 37px;
  padding: 20px;
}

.course-item{
  display: flex;
  justify-content: space-between;
  font-size:14px;
  color: #666666;
  cursor: pointer;
  padding: 0 50px;
}

.course-item-title{
  font-weight: 600;
  padding-left: 30px;
}

.course-item img{
  width: 16px;
  height: 16px;
}


.course-item:hover{
  background-color: #f6f8fd;
}

.course-item:hover .now-img{
  display: none;
}

.course-item:hover{
  background-image: url("./../img/course_detail_play2.png");
  background-repeat: no-repeat;
}

.sodebar-contaner{
  width: 320px;
}

.course-description-list{
  background: #ffffff;
  height: 440px;
}

.course-description-item{
  line-height:20px;
  width: 230px;
  margin: 0 auto;
  letter-spacing: 2px;
  padding-top: 16px;
}

.course-description-item p{
  font-weight: 600;
  margin-bottom: 10px;
}

.course-description-item span{
  color: #727171;
  font-size:14px;
}

.course-correlati-item img{
  width: 90px;
  height: 60px;
  cursor: pointer;
}

.course-description-item.grade p{
  display: inline-block;
}

.course-description-item.grade span{
  display: inline-block;
}

.course-correlati-list{
  height: 380px;
  background: #ffffff;
  margin-top: 20px;
}

.course-correlati-item-title{
  font-weight:bold;
  padding: 20px 0 0 20px;
}

.course-correlati-item{
  text-decoration: none;
  color: #666666;
  font-size: 14px;
  padding-top: 18px;
  display: flex;
  width: 240px;
  margin: 0 auto;
}

.course-correlati-item p{
  width: 116px;
  margin: 0 auto;
  cursor: pointer;
}

.footer-description{
  color: rgba(255,255,255,1);
  font-size: 12px;
  text-align: center;
  background:rgba(51,55,68,1);
}

.footer-description p{
  padding: 12px;
}