*{
  margin: 0;
  padding: 0;
}

.page{
  min-width: 1080px;
}

.page-mainer{
  height: 100%;
  width: 100%;
  background-color:rgba(248,250,252,1);
}

.course-container{
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.catalog-section{
  width: 250px;
  height: 1079px;
  background: rgba(255,255,255,1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.04);
  border-radius: 5px;
  margin-top: 20px;
}

.catalog-item{
  height: 100px;
  width: 210px;
  margin: 25px auto;
}

.catalog-item-dt{
  display: block;
  font-weight: 600;
}

.catalog-item-dd{
  display: inline-block;
  font-size: 14px;
  color: rgba(102,102,102,1);
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.catalog-item-dd:hover{
  color: #35b558;
}

.course-section{
  width: 806px;
  margin-top: 20px;
}

.course-info{
  display: flex;
  justify-content: space-between;
  height: 46px;
  background: rgba(255,255,255,1);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.04);
  border-radius: 3px;
  font-size:14px;
  align-items: center;
}

.course-message{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.course-message span{
  padding: 0 20px;
  color: #666666;
}

.course-info a{
  text-decoration: none;
  color: #666666;
  padding-right: 20px;
}

.course-sort a{
  margin-right: 20px;
}

.course-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-item{
  width: 258px;
  background: rgba(255,255,255,1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.04);
  border-radius: 5px;
  margin-top: 20px;
}

.course-item-description{
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

.course-item-info{
  display: flex;
  font-size: 12px;
  padding: 15px 20px;
  color: #666666;
}

.course-time {
  padding: 0 65px 0 10px;
}

.course-paging{
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
}

.course-paging-left{
  display: flex;
}

.course-paging-left a{
  padding: 10px 13px;
  background: rgba(255,255,255,1);
  color: #999999;
}

.course-paging a{
  text-decoration: none;
  font-size:12px;
}

.paging-middle-list{
  margin: 0px 5px;
}

.paging-middle-list a:last-child{
  background-color:#f8fafc;
}

.course-paging-right{
  padding: 0 15px;
}

.course-paging-right a{
  color: #333333;
}

.paging-now input{
  width: 35px;
  height: 22px;
  text-align: center;
  border: none;
  margin: 0 5px;
}

.paging-now{
  padding-left: 20px;
}

.paging-section-right a:last-child{
  color: #999999;
  background-color: rgba(255,255,255,1);
  padding: 3px 5px;
}

.footer-description{
  color: rgba(255,255,255,1);
  font-size: 12px;
  text-align: center;
  background:rgba(51,55,68,1);
}

.footer-description p{
  padding: 12px;
}