*{
  margin: 0;
  padding: 0;
}

.page{
  min-width: 1080px;
}

.page-mainer{
  background:rgba(248,250,252,1);
  padding-top: 20px;
  height: 100%;
}

.course-container{
  width: 1080px;
  margin: 30px auto;
  text-align: center;
}

.background-img{
  width: 1080px;
  height: 320px;
  cursor: pointer;
}

.sub-title{
  font-size: 20px;
  font-weight: 600;
}

.sub-slogan{
  font-size: 14px;
  color: #666666;
  padding-top: 10px;
}

.combat-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.combat-item{
  width: 470px;
  position: relative;
  text-align: left;
  padding: 0 30px 30px 30px;
  height: 125px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.04);
  border-radius: 5px;
  margin-top: 20px;
}

.combat-item img{
  position: absolute;
  right: 50px;
  bottom: 0px;
}

.combat-item-info{
  display: flex;
}

.combat-item-title{
  font-size: 20px;
  font-weight: 600;
  padding: 24px 0 10px 0;
  cursor: pointer;
}


.combat-item-description p{
  font-size: 14px;
  color: #666666;
  cursor: pointer;
}

.combat-item-info{
  font-size: 14px;
  color: #666666;
  padding-top: 10px;
}

.combat-item-info p{
  color: #006EDA;
}

.course-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-item{
  width:258px;
  height:240px;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 5px 0px rgba(0,0,0,0.04);
  border-radius:5px;
  margin-top: 20px;
}

.course-item-img{
  width:258px;
  height:139px;
}

.course-item-description{
  font-size: 15px;
  line-height: 22px;
  padding:10px 20px;
  text-align: left;
  cursor: pointer;
}

.course-item-info{
  display: flex;
  font-size: 12px;
  padding: 0px 20px;
  color: #666666;
}

.course-item-info img{
  width: 12px;
  height: 12px;
}

.course-time{
  padding: 0 65px 0 10px;
}

.project-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item{
  width:203px;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 5px 0px rgba(0,0,0,0.04);
  border-radius:5px;
  margin-top: 20px;
  cursor: pointer;
}

.project-item-description{
  font-size: 15px;
  line-height: 22px;
  margin: 20px auto;
}

.project-item-link{
  width:203px;
  height:36px;
  background:rgba(131,140,161,1);
  border-radius:0px 0px 5px 5px;
}

.project-item-link p{
  font-size: 13px;
  color: rgba(255,255,255,1);
  padding: 10px;
}

.project-item-link:hover{
  background-color: #006EDA;
  position: relative;
}
.project-item-link:hover p{
  display: none;
}
.project-item-link:hover::after{
  content: '立即挑战';
  color:  rgba(255,255,255,1);
  position: absolute;
  font-size: 13px;
  top: 10px;
  left: 70px;
}

.lab-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lab-item{
  width: 203px;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 5px 0px rgba(0,0,0,0.04);
  border-radius:5px;
  cursor: pointer;
  margin-top: 20px;
}

.lab-item-description{
  font-size: 15px;
  padding: 10px 20px;
  text-align: left;
}

.lab-item-info{
  display: flex;
  font-size: 12px;
  padding: 10px 15px;
  color: #666666;
}

.lab-time{
  padding: 0 14px;
}

.footer-description{
  color: rgba(255,255,255,1);
  font-size: 12px;
  text-align: center;
  background:rgba(51,55,68,1);
}

.footer-description p{
  padding: 12px;
}